/.vs
/lib
/.vscode/settings.json
__pycache__/

/*.VC.VC.opendb
/*.VC.db
*.user
*.nuget.g.targets
*.nuget.g.props
*.nuget.dgspec.json
project.nuget.cache
project.assets.json

Debug/
Release/
Debug2/
Release2/
build/

# .NET build output
/AmatsukazeServer/obj/

/ffmpeg_lgpl
/publish

/packages/

*.bak
.uishots/

/Amatsukaze/Version.h
/AmatsukazeServer/Version.t4
/AmatsukazeServer/Properties/AssemblyInfo.cs
/AmatsukazeAddTask/Properties/AssemblyInfo.cs
/AmatsukazeGUI/Properties/AssemblyInfo.cs
/AmatsukazeServerCLI/Properties/AssemblyInfo.cs
/NicoJK18Client/Properties/AssemblyInfo.cs
/ScriptCommand/Properties/AssemblyInfo.cs


# Blazor WASM / Server build artifacts
/AmatsukazeWebUI/wwwroot/_framework/
/AmatsukazeWebUI/wwwroot/_framework/**
/AmatsukazeWebUI/wwwroot/_content/
/AmatsukazeWebUI/wwwroot/_content/**
/AmatsukazeWebUI/wwwroot/**/*.map
/AmatsukazeWebUI/wwwroot/service-worker.published.js
/AmatsukazeWebUI/wwwroot/dist/
/AmatsukazeWebUI/wwwroot/dist/**

#docker
/docker/*
!/docker/base/
!/docker/Dockerfile
!/docker/Dockerfile_1
!/docker/Dockerfile_2
!/docker/Dockerfile_original
!/docker/Dockerfile_ubuntu2404
!/docker/compose.sample.yml
!/docker/compose.yml
!/docker/docker_ubuntu2204
!/docker/docker_ubuntu2404
!/docker/readme.md
!/docker/setup.sh

#installed patch
yadifmod2/
TIVTC/
NNEDI3/
masktools/
mvtools/
RgTools/
gpac/
l-smash/
tsreadex/
psisiarc/
b24tovtt/
chapter_exe/
join_logo_scp/
fdk-aac/
fdkaac/

